openapi: 3.0.3
info:
  title: GrandGold Marketplace API
  description: |
    GrandGold is a multi-country luxury jewellery marketplace with support for India (INR), UAE (AED), and UK (GBP).
    
    ## Authentication
    Most endpoints require Bearer token authentication. Include the JWT token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
    
    ## Rate Limiting
    - 200 requests per minute for product APIs
    - 100 requests per minute for order/payment APIs
    
    ## Countries
    Supported countries: `IN` (India), `AE` (UAE), `UK` (United Kingdom)
  version: 1.0.0
  contact:
    name: GrandGold API Support
    email: api@thegrandgold.com
  license:
    name: Proprietary
    url: https://thegrandgold.com/terms

servers:
  - url: https://api.thegrandgold.com
    description: Production
  - url: https://staging-api.thegrandgold.com
    description: Staging
  - url: http://localhost:3000
    description: Local Development

tags:
  - name: Auth
    description: Authentication and user management
  - name: Products
    description: Product catalog and search
  - name: Cart
    description: Shopping cart operations
  - name: Orders
    description: Order management
  - name: Payments
    description: Payment processing
  - name: Fintech
    description: Gold prices and financial services
  - name: Sellers
    description: Seller management
  - name: Admin
    description: Admin operations

paths:
  # ==================== AUTH ====================
  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login user
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out successfully

  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
              required:
                - refreshToken
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/user/me:
    get:
      tags: [Auth]
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    patch:
      tags: [Auth]
      summary: Update user profile
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated

  # ==================== PRODUCTS ====================
  /api/products:
    get:
      tags: [Products]
      summary: List products
      operationId: listProducts
      parameters:
        - name: country
          in: query
          schema:
            type: string
            enum: [IN, AE, UK]
        - name: category
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  total:
                    type: integer

  /api/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      operationId: getProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/search:
    get:
      tags: [Products]
      summary: Search products
      operationId: searchProducts
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: country
          in: query
          schema:
            type: string
            enum: [IN, AE, UK]
        - name: category
          in: query
          schema:
            type: string
        - name: minPrice
          in: query
          schema:
            type: number
        - name: maxPrice
          in: query
          schema:
            type: number
        - name: purity
          in: query
          schema:
            type: string
            enum: ['14K', '18K', '22K', '24K']
        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, newest, popularity]
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  total:
                    type: integer
                  facets:
                    type: object

  # ==================== CART ====================
  /api/cart:
    get:
      tags: [Cart]
      summary: Get cart
      operationId: getCart
      parameters:
        - name: cartId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Cart contents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /api/cart/session:
    get:
      tags: [Cart]
      summary: Get or create cart session
      operationId: getCartSession
      responses:
        '200':
          description: Cart session
          content:
            application/json:
              schema:
                type: object
                properties:
                  cartId:
                    type: string
                  isLoggedIn:
                    type: boolean

  /api/cart/items:
    post:
      tags: [Cart]
      summary: Add item to cart
      operationId: addToCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productId:
                  type: string
                quantity:
                  type: integer
                  default: 1
                cartId:
                  type: string
                country:
                  type: string
              required:
                - productId
      responses:
        '200':
          description: Item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /api/cart/items/{productId}:
    patch:
      tags: [Cart]
      summary: Update cart item quantity
      operationId: updateCartItem
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: cartId
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  minimum: 1
              required:
                - quantity
      responses:
        '200':
          description: Cart updated
    delete:
      tags: [Cart]
      summary: Remove item from cart
      operationId: removeFromCart
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: cartId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Item removed

  # ==================== ORDERS ====================
  /api/orders:
    get:
      tags: [Orders]
      summary: List customer orders
      operationId: listOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, shipped, delivered, cancelled]
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'

  /api/orders/{id}:
    get:
      tags: [Orders]
      summary: Get order details
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/checkout/create:
    post:
      tags: [Orders]
      summary: Create order from cart
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  paymentRequired:
                    type: boolean

  # ==================== PAYMENTS ====================
  /api/payments/stripe/create-intent:
    post:
      tags: [Payments]
      summary: Create Stripe payment intent
      operationId: createStripeIntent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Amount in smallest currency unit (paise/cents)
                currency:
                  type: string
                  enum: [inr, aed, gbp]
                metadata:
                  type: object
              required:
                - amount
                - currency
      responses:
        '200':
          description: Payment intent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                  paymentIntentId:
                    type: string

  /api/payments/razorpay/create-order:
    post:
      tags: [Payments]
      summary: Create Razorpay order
      operationId: createRazorpayOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Amount in paise
                currency:
                  type: string
                  default: INR
                receipt:
                  type: string
              required:
                - amount
                - receipt
      responses:
        '200':
          description: Razorpay order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                  amount:
                    type: integer
                  currency:
                    type: string
                  keyId:
                    type: string

  /api/payments/razorpay/verify:
    post:
      tags: [Payments]
      summary: Verify Razorpay payment
      operationId: verifyRazorpayPayment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: string
                paymentId:
                  type: string
                signature:
                  type: string
              required:
                - orderId
                - paymentId
                - signature
      responses:
        '200':
          description: Payment verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  paymentId:
                    type: string

  # ==================== FINTECH ====================
  /api/fintech/prices:
    get:
      tags: [Fintech]
      summary: Get live gold/silver prices
      operationId: getMetalPrices
      parameters:
        - name: country
          in: query
          schema:
            type: string
            enum: [IN, AE, UK]
      responses:
        '200':
          description: Current metal prices
          content:
            application/json:
              schema:
                type: object
                properties:
                  gold:
                    $ref: '#/components/schemas/MetalPrice'
                  silver:
                    $ref: '#/components/schemas/MetalPrice'
                  platinum:
                    $ref: '#/components/schemas/MetalPrice'
                  timestamp:
                    type: string
                    format: date-time

  /api/fintech/alerts:
    get:
      tags: [Fintech]
      summary: Get user price alerts
      operationId: getPriceAlerts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Price alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceAlert'
    post:
      tags: [Fintech]
      summary: Create price alert
      operationId: createPriceAlert
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePriceAlertRequest'
      responses:
        '201':
          description: Alert created

  # ==================== HEALTH ====================
  /health:
    get:
      tags: [Admin]
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  service:
                    type: string
                  timestamp:
                    type: string
                    format: date-time

  /api/health:
    get:
      tags: [Admin]
      summary: Aggregate health check
      operationId: aggregateHealthCheck
      responses:
        '200':
          description: All services health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded, error]
                  services:
                    type: object
                    additionalProperties:
                      type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        country:
          type: string
          enum: [IN, AE, UK]
        acceptedTerms:
          type: boolean
        marketingConsent:
          type: boolean
      required:
        - email
        - password
        - firstName
        - lastName
        - phone
        - country
        - acceptedTerms

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required:
        - email
        - password

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            accessToken:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer
            user:
              $ref: '#/components/schemas/UserProfile'

    UserProfile:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        country:
          type: string
        role:
          type: string
          enum: [customer, seller, admin]
        kycStatus:
          type: string
          enum: [none, pending, tier1, tier2, rejected]
        emailVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time

    UpdateProfileRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string

    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        sku:
          type: string
        price:
          type: number
        currency:
          type: string
        category:
          type: string
        subcategory:
          type: string
        purity:
          type: string
          enum: ['14K', '18K', '22K', '24K']
        weight:
          type: number
        images:
          type: array
          items:
            type: string
        sellerId:
          type: string
        stock:
          type: integer
        isActive:
          type: boolean
        country:
          type: string

    Cart:
      type: object
      properties:
        id:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: number
        itemCount:
          type: integer
        currency:
          type: string
        country:
          type: string

    CartItem:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        image:
          type: string
        price:
          type: number
        quantity:
          type: integer
        purity:
          type: string

    Order:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: [pending, confirmed, processing, shipped, delivered, cancelled]
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        subtotal:
          type: number
        tax:
          type: number
        shipping:
          type: number
        total:
          type: number
        currency:
          type: string
        shippingAddress:
          $ref: '#/components/schemas/Address'
        paymentMethod:
          type: string
        paymentStatus:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        price:
          type: number
        quantity:
          type: integer
        image:
          type: string

    Address:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string

    CreateOrderRequest:
      type: object
      properties:
        cartId:
          type: string
        shippingAddress:
          $ref: '#/components/schemas/Address'
        billingAddress:
          $ref: '#/components/schemas/Address'
        paymentMethod:
          type: string
          enum: [stripe, razorpay, cod]
        deliveryOption:
          type: string
          enum: [standard, express, click_collect]
      required:
        - cartId
        - shippingAddress
        - paymentMethod

    MetalPrice:
      type: object
      properties:
        pricePerGram:
          type: number
        pricePerOunce:
          type: number
        change24h:
          type: number
        changePercent24h:
          type: number
        currency:
          type: string

    PriceAlert:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        metal:
          type: string
          enum: [gold, silver, platinum]
        purity:
          type: string
        targetPrice:
          type: number
        direction:
          type: string
          enum: [above, below]
        currency:
          type: string
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time

    CreatePriceAlertRequest:
      type: object
      properties:
        metal:
          type: string
          enum: [gold, silver, platinum]
        purity:
          type: string
        targetPrice:
          type: number
        direction:
          type: string
          enum: [above, below]
      required:
        - metal
        - targetPrice
        - direction

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            message:
              type: string
            code:
              type: string
            details:
              type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
